.containertopmeatdepot {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -100px;
}

.linemeat {
  position: absolute;
  width: 75px;
  height: 100%;
  margin-top: -200px;
  background-color: black;
}

.center-imagemeat {
  max-width: 60%;
  max-height: 45vh;
  z-index: 1;
  position: relative;
  margin-top: -210px;
  margin-left: 15px;
}

.secondpageMDmeat {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  background: black;
}

/*rows and columns*/

.containermeatdepot {
  width: 80%;
  max-width: 1200px;
  background: none;
  height: fit-content;
  margin-top: -70px;
  padding-bottom: 100px;
}

.rowmeat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 350px;
  margin-right: -10px;
  padding-top: 75px;
  background: none;
  visibility: visible;
  transition: opacity 1s ease-in-out;
}

.rowmeat.active {
  visibility: visible;
  opacity: 1;
}

.columnmeat {
  flex: 1;
  padding: 40px;
  background: none;
}

.contentmeat {
  text-align: center;
  background: none;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
}

.img-meat {
  max-width: 100%;
  height: 100%;
  background: none;
}

.h2-meat {
  margin-top: 10px;
  font-size: 1.5rem;
  background: none;
  color: white;
}

.h3-meat {
  margin-top: 10px;
  font-size: 1rem;
  background: none;
  color: black;
  font-style: italic;
}

.p-meat {
  line-height: 2;
  background: none;
  color: black;
  font-size: medium;
}

.rotatemeat {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
